* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}



a:hover {
    text-decoration: underline;
}



.header-cont {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
}

.header-cont a {
    font-size: 0.8rem;
    text-decoration: none;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 15px;
}

.sign-in {
    background-color: blue;
    color: #ffffff;
    padding: 5px 5px;
    text-decoration: none;
}

.header1 {
    
}

.header2 {
    
}

.main-cont {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-cont img {
    width: 275px;
    margin-bottom: 25px;
}

.main-cont input {
    width: 600px;
    margin-bottom: 25px;
}

.main-cont button {
    margin: auto 10px;
}

.country-footer {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.footer-cont {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}